<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buttybutty.home.dao.ProductDAO">

  <insert id="productInsert">
    insert into product_data(p_no, m_userid, p_name, p_img, p_price, p_dis, p_date, ma_name, m_name, p_content, p_pub, p_ddu)
    values (#{p_no}, #{m_userid}, #{p_name}, #{p_img}, #{p_price}, #{p_dis}, #{p_date}, #{ma_name}, #{m_name}, #{p_content}, #{p_pub}, #{p_ddu})
  </insert>
  
  <select id="productList" resultType="com.buttybutty.home.dto.ProductDTO">
    select *
    from (
      select p_no, p_name, p_price, to_char(writedate, 'MM-DD HH:MI') p_date 
      from product_data
      <if test="searchWord != null">
        where ${searchKey} like '%${searchWord}%' 
      </if>
      order by p_no desc
    )
    where <![CDATA[rownum <= ${nowPage * onePageRecord}]]>
    <![CDATA[rownum <= ${lastPageRecord}]]>
    <!-- WHERE절의 '<=' 비교연산자가 '<' 기호 때문에 (태그<>) 오류 => <![CDATA[ 코드부분 ]]> -->
  </select>
  

	
	<select id="getProudct" resultType="com.smart.home.dto.BoardDTO">
		select p_no, m_userid, p_name, p_img, p_price, p_dis, p_date, ma_name, m_name, p_content 
		from product_data
		where p_no=${param1}
	</select>
	
	<update id="productEdit">
		update product_data set p_name=#{p_name}, p_img=#{p_img}, p_price=#{p_price}, p_dis=#{p_dis}, p_content=#{p_content}, p_pub=#{p_pub}, p_ddu=#{p_ddu}
		where p_no=#{p_no} and m_userid=#{m_userid}
	</update>
	
	<delete id="productDel">
		delete from product_data where p_no=${param1} and m_userid=#{param2}
	</delete>
	
</mapper>
