<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buttybutty.home.dao.SubscribeDAO">
	<!-- 구독자 정보 입력 SubscribeOk(SubscribeDTO dto) -->
	
	<insert id="SubscribeOk">
		insert into subscribe(sub_no, userid, sub_name, sub_tel, sub_addr, sub_cash_name, sub_date)
		values (sub_no_seq.nextval, #{userid}, #{sub_name}, #{sub_tel}, #{sub_addr}, #{sub_cash_name},sysdate)
	</insert> 
</mapper>

